
.formStyle{
    display: flex;
    justify-content: center;
}

.firstLabels{
    display: flex;
    flex-direction: column;
}

.firstInputs{
    display: flex;
    flex-direction: column;
}